/* ===== Estilo Global ===== */
body {
    font-family: "Mulish", serif;
    margin: 0;
    padding: 0;
    background-color: rgb(221, 238, 232);
}

h1 {
    text-align: center;
    color: #da3b85;
}

p {
    line-height: 1.6;
}
